<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Bienvenido!</h1>
    <h3>En esta página observarás el listado de familiares:</h3>
    <hr>
    <h3>Madre:</h3>
    ---> Nombre: <b>{{ Madre.nombre }}</b> <br>
    ---> Apellido: <b>{{ Madre.apellido }}</b> <br>
    ---> Fecha Nacimiento: <b>{{ Madre.fecha_nacimiento }}</b> <br>
    ---> Cédula: <b>{{ Madre.cedula }}</b> <br>
<hr>
    <h3>Padre:</h3>
    ---> Nombre: <b>{{ Padre.nombre }}</b> <br>
    ---> Apellido: <b>{{ Padre.apellido }}</b> <br>
    ---> Fecha Nacimiento: <b>{{ Padre.fecha_nacimiento }}</b> <br>
    ---> Cédula: <b>{{ Padre.relacion.cedula }}</b> <br>
<hr>
    <h3>Hermana:</h3>
    ---> Nombre: <b>{{ Hermana.nombre }}</b> <br>
    ---> Apellido: <b>{{ Hermana.apellido }}</b> <br>
    ---> Fecha Nacimiento: <b>{{ Hermana.fecha_nacimiento }}</b> <br>
    ---> Cédula: <b>{{ Hermana.cedula }}</b> <br>

</body>
</html>