<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Bienvenido!</h1>
    <h3>En esta página observarás el listado de familiares:</h3>
    <hr>
        {% for pariente in informacion.values %}
            <h3>{{ pariente.relacion }}</h3>
            ---> Nombre: <b>{{ pariente.nombre }}</b> <br>
            ---> Apellido: <b>{{ pariente.apellido }}</b> <br>
            ---> Fecha Nacimiento: <b>{{ pariente.fecha_nacimiento }}</b> <br>
            ---> Cédula: <b>{{ pariente.cedula }}</b> <br>
            <hr>
        {% endfor %}<br>
</body>
</html>